<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="posts.html">KINGSLEY IJOMAH</a>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="posts.html">Posts</a></li>
        <li><a href="about.html">About</a></li>
        <li class="active"><a href="archive.html">Archive</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="new.html" class="new-post-link">New Post</a></li>
        <li><a href="login.html">Log In</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<div class="container-fluid" id="container">
  <div class="row">
    <div class="col-md-3 profile">
      <aside class="center-block">
        <img src="/images/dog.jpg" alt="cat" class="img-circle">
        <h4>Kingsley Ijomah</h4>
        <p>Software Eng. @ CODEHANCE</p>

        <a class="twitter-follow-button"
          href="https://twitter.com/kingsleyijomah"
          data-show-count="true"
          data-lang="en">
          Follow @kingsleyijomah
        </a>
        <hr>
        <p>Share this page:</p>
        <ul>
          <li><img src="/images/social_icons/twitter.png"></li>
          <li><img src="/images/social_icons/facebook.png"></li>
          <li><img src="/images/social_icons/linkedin.png"></li>
          <li><img src="/images/social_icons/googleplus.png"></li>
          <li><img src="/images/social_icons/pinterest.png"></li>
          <li><img src="/images/social_icons/email.png"></li>
        </ul>
      </aside>
    </div>

    <div class="col-md-8">
      <h1>Archive</h1>

      <article>
        <h3>2014</h3>

        <div class="row">
          <div class="col-md-9">
            <a href="article.html">This is the first dummy post</a>
          </div>
          <div class="col-md-3 date">28 Dec 2014</div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <a href="article.html">My best article yet</a>
          </div>
          <div class="col-md-3 date">28 Dec 2014</div>
        </div>
        <hr>
      </article>

      <article>
        <h3>2015</h3>

        <div class="row">
          <div class="col-md-9">
            <a href="article.html">Starting the new year with another post</a>
          </div>
          <div class="col-md-3 date">12 Jan 2015</div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <a href="article.html">Lorem ipsum dolor sit amet, consectetur adipisicing</a>
          </div>
          <div class="col-md-3 date">21 Dec 2015</div>
        </div>
        <hr>
      </article>

    </div>
  </div>

</div>  