<%- include('../partials/_nav'); -%>

<div class="container-fluid" id="container">
  <div class="row">
    <%- include('../partials/_profile'); -%>

    <div class="col-md-8">
      <article>
        <header><h2>Quis nostrud exercitation ullamco</h2></header>
        <footer><small>Posted on: 1 Jan 2015</small></footer>

        <div class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et.
          <a href="/posts/view" style="font-size: 20px;">Read More</a>
        </div>

        <footer>
            <span class="label label-default">code</span>
            <span class="label label-default">programming</span>
            <span class="label label-default">coding</span>
        </footer>
        <hr>
      </article>

      <nav>
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
       </ul>
     </nav>
    </div>
  </div>

</div>