<%- css('new') %>
<% layout('boilerplate') -%>
<%- partial('../partials/_nav') %>

<div class="container-fluid" id="container">
  <div class="row">
    <%- partial('../partials/_profile') %>

    <div class="col-md-8">
      <form method="POST" action="/posts">
        <h3>New Post</h3>
        <p>
          <label class="sr-only">Title</label>
          <input type="text" class="form-control" placeholder="Title" name="title" required autofocus>
        </p>
        <p>
          <label class="sr-only">Tags</label>
          <select data-placeholder="Select tags" multiple class="chosen-select form-control multiselect" name="tags" required>
            <option value=""></option>
            <option>html</option>
            <option>css</option>
            <option>coding</option>
            <option>programming</option>
          </select>
        </p>
        <p>
          <label class="sr-only">Article</label>
          <textarea class="form-control" placeholder="Article" id="textarea" name="article" required></textarea>
        </p>
        <p><input type="submit" value="Post Article" class="btn btn-primary"></p>
      </form>
    </div>
  </div>

</div>
