<% layout('boilerplate') -%>
<%- partial('../partials/_nav') %>

<div class="container-fluid" id="container">
  <div class="row">
    <%- partial('../partials/_profile') %>

    <div class="col-md-8">
      <form>
        <h3>New Post</h3>
        <p>
          <label class="sr-only">Title</label>
          <input type="email" class="form-control" placeholder="Title" required autofocus>
        </p>
        <p>
          <label class="sr-only">Tags</label>
          <select class="form-control" class="multiselect" multiple="multiple">
            <option selected="selected">Select tags:</option>
            <option>html</option>
            <option>css</option>
            <option>coding</option>
            <option>programming</option>
          </select>
        </p>
        <p>
          <label class="sr-only">Article</label>
          <textarea class="form-control" placeholder="Article" id="textarea" required></textarea>
        </p>
        <p><input type="submit" value="Post Article" class="btn btn-primary"></p>
      </form>
    </div>
  </div>

</div>