<div class="container">
    <form class="form-signin">
      <h1>sign in</h1>
      <p>
        <label class="sr-only">Email address</label>
        <input type="email" placeholder="Email address" class="form-control" required autofocus>
      </p>
      <p>
        <label class="sr-only">password</label>
        <input type="password" placeholder="Password" required class="form-control">
      </p>
      <p class="checkbox"><label><input type="checkbox">Remember me</label></p>
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
</div>